# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
obj/

target/
perf.data

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
emerald
*.exe
*.out
*.app

# ROMs
*.gb
*.rom
